<h1>Log In</h1>

<%= form_tag sessions_path do %>
  <%= label_tag :email %>:
  <%= email_field_tag :email, params[:email] %><br />
  <%= label_tag :password %>:
  <%= password_field_tag :password %><br />
  <%= check_box_tag :remember_me, 1, params[:remember_me] %>
  <%= label_tag :remember_me %><br />
  <%= link_to "forgotten password?", new_password_reset_path %><br />
  <%= submit_tag "Log In" %>
<% end %>
