<div class="entry">
  <h4><%= link_to event.title, event_path(event) %></h4>
  <p>
    <span class="glyphicon glyphicon-calendar"></span> <%= event.start_time.localtime.strftime("%m/%d") %>
    <span class="glyphicon glyphicon-time"></span> <%= event.start_time.localtime.strftime("%I:%M %p") %>
    <span class="glyphicon glyphicon-map-marker"></span> <%= event.location %>
  </p>
  <p><%= event.description %></p>
  <% event.tags.each do |tag| %>
    <span class="label label-default"><%= tag.name %></span>
  <% end %>
</div>