<div>
  <% if defined?(link) && link == false %>
    <h3><%= post.title %></h3>
  <% else %>
    <h3><%= link_to post.title, post_path(post) %></h3>
  <% end %>
  <span class="detail">
    <span class="glyphicon glyphicon-user"></span>
    <%= post.member.name %>
  </span>
  <span class="detail">
    <span class="glyphicon glyphicon-calendar"></span>
    <%= post.created_at.localtime.strftime("%B %d, %Y") %>
  </span>
  <span class="detail">
    <% post.tags.each do |tag| %>
      <span class="label label-default"><%= tag.name %></span>
    <% end %>
  </span>

  <p><%= simple_format post.body %></p>
</div>