<div class="col-lg-12">
  <% if logged_in? :as_officer => true %>
  <div class="row">
    <div class="col-lg-12">
      <div class="admin">
        <span>
          <b><%= @past_events.size %></b> past events,
          <b><%= @upcoming_events.size %></b> upcoming events with the next event in
          <b><%= distance_of_time_in_words(DateTime.current, @upcoming_events.first.start_time) %></b>.
        </span>
        <ul class="pull-right">
          <li><%= link_to 'Create', new_event_path, :class => "btn btn-success" %></li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="col-lg-7 col-md-7">
  <h1>Upcoming Events</h1>
  <% @upcoming_events.each do |event| %>
    <%= render "shared/event", :event => event %>
    <hr />
  <% end %>

  <br />
  <h1>Past Events</h1>
  <% @past_events.each do |event| %>
    <%= render "shared/event", :event => event %>
    <hr />
  <% end %>
</div>


<div class="col-lg-4 col-lg-offset-1 col-md-5">
  <h3>Stay Informed</h3>
  <p>Want to know the latest and greatest about what's happening on campus?
    Do you want to attend really cool events and workshops? Then make sure you
    subscribe to our <a href="http://www.google.com/calendar/render?cid=https%3A%2F%2Fwww.google.com%2Fcalendar%2Ffeeds%2Facm%2540ccs.neu.edu%2Fpublic%2Fbasic" target="_blank">Google Calendar</a>
    and <a href="https://www.facebook.com/nuacm" target="_blank">like our Facebook
    page.</a> We'll keep you up to date with all that is going on so you won't
    miss out on anything awesome!
  </p>
  <a href="https://www.facebook.com/nuacm" target="_blank"><button class="btn btn-primary">Facebook</button></a>
  <a href="http://www.google.com/calendar/render?cid=https%3A%2F%2Fwww.google.com%2Fcalendar%2Ffeeds%2Facm%2540ccs.neu.edu%2Fpublic%2Fbasic" target="_blank"><button class="btn btn-warning">Google Calendar</button></a>
</div>
