<h1><%= @event.title %></h1>

<p>At <span style="text-decoration:underline"><%= @event.location %></span></p>
<% if @event.end_time %>
  <p>From <span style="text-decoration:underline"><%= l @event.start_time %></span> to <span style="text-decoration:underline"><%= l @event.end_time %></span></p>
<% else %>
  <p>On <%= @event.start_time %></p>
<% end %>

<p><%= @event.description %></p>

<% unless @event.tags.empty? %>
  <div style="padding:5px;background-color:#eee">
    <% @event.tags.each do |tag| %>
      <span><%= tag.name %></span>
    <% end %>
  </div>
<% end %>

<% if logged_in? :as_officer => true %>
  <%= link_to 'Edit', edit_event_path(@event) %>
  <%= link_to 'Delete', event_path(@event), :confirm => "Are you sure?", :method => :delete %>
<% end %>
