<div id="posts" class="col-lg-7">
  <div>
    <h1><%= @post.title %></h1>
    <i>&mdash; <%= @post.member.name %></i>
    <p><%= simple_format @post.body %></p>
  </div>
</div>

<div id="events" class="col-lg-4 col-lg-offset-1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Upcoming Events</h3>
    </div>
    <div class="panel-body">
      <% @events.each do |event| %>
      <div class="entry">
        <h4><%= event.title %></h4>
        <p>
          <span class="glyphicon glyphicon-calendar"></span> <%= event.start_time.localtime.strftime("%m/%d") %>
          <span class="glyphicon glyphicon-time"></span> <%= event.start_time.localtime.strftime("%I:%M %p") %>
          <span class="glyphicon glyphicon-map-marker"></span> <%= event.location %>
        </p>
        <p><%= event.description %></p>
        <% event.tags.each do |tag| %>
          <span class="label label-default"><%= tag.name %></span>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
