<div class="col-lg-7 col-md-7">
  <% if @post %>
    <h1><%= @post.title %> <small><%= @post.member.name %></small></h1>
    <% @post.tags.each do |tag| %>
      <span class="label label-default"><%= tag.name %></span>
    <% end %>
    <p><%= simple_format @post.body %></p>
  <% end %>
</div>

<div class="col-lg-4 col-md-5 col-lg-offset-1">
  <h3>Upcoming Events</h3>
  <hr />
  <% @events.each do |event| %>
    <%= render "shared/event", :event => event %>
    <hr />
  <% end %>
  <%= link_to "View more events", events_path %>
  </div>
</div>
