<div id="posts" class="col-lg-7">
  <div>
    <h1><%= link_to @post.title, post_path(@post) %></h1>
    <span class="detail">
      <span class="glyphicon glyphicon-user"></span>
      <%= @post.member.name %>
    </span>
    <span class="detail">
      <span class="glyphicon glyphicon-calendar"></span>
      <%= @post.created_at.localtime.strftime("%B %d, %Y") %>
    </span>
    <span class="detail">
      <% @post.tags.each do |tag| %>
        <span class="label label-default"><%= tag.name %></span>
      <% end %>
    </span>

    <p><%= simple_format @post.body %></p>
  </div>
</div>

<div class="events col-lg-4 col-lg-offset-1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Upcoming Events</h3>
    </div>
    <div class="panel-body">
      <% @events.each do |event| %>
        <%= render "shared/event", :event => event %>
      <% end %>
    </div>
    <div class="panel-footer"><%= link_to "View more events", events_path %></div>
  </div>
</div>
