<div id="posts" class="col-lg-7">
  <div>
    <h1><%= @post.title %></h1>
    <i>&mdash; <%= @post.member.name %></i>
    <p><%= simple_format @post.body %></p>
  </div>
</div>

<div id="events" class="col-lg-4 col-lg-offset-1">
  <h2>Upcoming Events</h2>
  <% @events.each do |event| %>
    <div class="entry">
      <h4><%= event.title %></h4>
      <p><%= event.description %></p>
    </div>
  <% end %>
</div>
