<h1>NUACM Newsroom</h1>

<ol id="posts">
  <% @posts.each do |post| %>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-lg-offset-1 col-md-offset-2">
      <p>
        <span class="glyphicon glyphicon-user"></span>
        <%= post.member.name %>
      </p>
      <p>
        <span class="glyphicon glyphicon-calendar"></span>
        <%= post.created_at.localtime.strftime("%B %d, %Y") %>
      </p>
      <p>
        <% post.tags.each do |tag| %>
          <span class="label label-default"><%= tag.name %></span>
        <% end %>
      </p>
    </div>

    <div class="col-lg-7 col-md-7">
    <h2><%= link_to post.title, post_path(post) %></h2>
    <p><%= post.body %></p>
    </div>
  </div>
  <hr />
  <% end %>
</ol>
