<div class="col-lg-12">
  <% if logged_in? :as_officer => true %>
  <div class="well admin">
    <ul>
      <li><code><%= @posts.size %> posts.</code></li>
      <li><code><%= @posts.map { |p| p.member }.uniq.size %> authors.</code></li>
    </ul>
    <ul class="pull-right">
      <li><%= link_to 'Create', new_post_path, :class => "btn btn-primary" %></li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <% end %>

  <h1>NUACM Newsroom</h1>

  <ol id="posts">
    <% @posts.each do |post| %>
    <div class="entry">
      <h2><%= link_to post.title, post_path(post) %></h2>
      <p><%= post.body %></p>
    </div>
    <% end %>
  </ol>
</div>
