<!DOCTYPE html>
<html>
<head>
  <title>Acm</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <header>
    <%= link_to home_path, :class => "logo" do %>
      <div><strong>nu</strong>acm</div>
      <div class="sub">northeastern university</div>
    <% end %>
  </header>

  <nav>
    <ul>
      <li><%= current_link_to "Home", home_path %></li>
      <li><%= current_link_to "About", about_path %></li>
      <li><%= current_link_to "Events", '#' %></li>
      <li><%= current_link_to "Members", '#' %></li>
    </ul>
  </nav>

  <div id="<%= "#{controller_name}-#{action_name}" %>"><%= yield %></div>
</div>

</body>
</html>
