<!DOCTYPE html>
<html>
<head>
  <title>Acm</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <header>
    <%= link_to home_path, :class => "acm-logo" do %>
      <h1><strong>NU</strong>acm</h1>
      <span>Northeastern University</span>
    <% end %>
  </header>

  <nav>
    <ul>
      <li><%= link_to "Home", home_path, :class => cp(home_path) %></li>
      <li><%= link_to "About", '#', :class => cp('#') %></li>
    </ul>
  </nav>

  <%= yield %>
</div>

</body>
</html>
