<!DOCTYPE html>
<html lang="en">
<head>
  <title>Northeastern University ACM</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700|Roboto:400,100,300,500' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">

    <% if logged_in? :as_officer => true %>
      <nav class="admin-nav">
        <%= link_to current_member.name, member_path(current_member) %>
        <i><%= link_to "logout", logout_path, :method => :delete %></i>
        <ul>
          <li><%= link_to "Create Event", new_event_path %></li>
          <li><%= link_to "Create Post", new_post_path %></li>
        </ul>
      </nav>
    <% end %>

    <nav class="navbar-container">
      <a href="/"><img src='/images/logos/logo-blue.png'></a>
      <ul class="links">
        <li><%= active_link_to "Home", home_path %></li><li><%= active_link_to "Events", '/events' %></li><li><%= active_link_to "About", about_path %></li><li><%= active_link_to "Members", members_path %></li><li><%= active_link_to "Join", '#' %></li>
      </ul>
      <div class="clearfix"></div>
    </nav>

    <%= bigpic %>

    <% if flash[:alert] %>
      <div class='alert notification'>
        <p><%=h flash[:alert] %></p>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div class='notice notification'>
        <p><%=h flash[:notice] %></p>
      </div>
    <% end %>

    <div class="columns">
      <div class="content">
          <%= yield %>
      </div>
    </div>

    <%= render(:partial => "shared/footer") %>
  </div>



</body>
</html>
