<!DOCTYPE html>
<html lang="en">
<head>
  <title>Northeastern University ACM</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700|Roboto:400,100,300,500' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <%= link_to home_path, :class => "navbar-brand" do %>
        <%= image_tag "logo-blue.png", :alt => "NUACM" %>
      <% end %>

      <ul class="nav navbar-nav pull-right">
        <%= active_link_to "Events", events_path, :li => true %>
        <%= active_link_to "News", posts_path, :li => true %>
        <%= active_link_to "Members", members_path, :li => true %>
        <%= active_link_to "About", about_path, :li => true %>
        <%= active_link_to "Join", '#', :li => true %>
      </ul>
    </div>
  </nav>

  <% if logged_in? :as_officer => true %>
  <div class="well admin-nav">
    <div class="container">
      <h1>Officer: <%= link_to current_member.name, member_path(current_member) %></h1>
      <ul class="pull-right">
        <%= link_to "Create Event", new_event_path, :class => "btn btn-primary" %>
        <%= link_to "Create Post", new_post_path, :class => "btn btn-primary" %>
        <%= link_to "Logout", logout_path, :method => :delete, :class => "btn btn-default" %>
    </div>
  </div>
  <% end %>

  <div id="pitch">
    <div class="container">
      <div class="row jumbotron">
        <h1>We run cool events</h1>
        <p class="lead">
          Talks, hackathons, and meetups.
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <p><%= flash[:alert] %></p>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div class="alert alert-info">
        <p><%= flash[:notice] %></p>
      </div>
    <% end %>

    <%= yield %>
  </div>

  <%= render(:partial => "shared/footer") %>
</body>
</html>
