<!DOCTYPE html>
<html lang="en">
<head>
  <title>Northeastern University ACM</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="container">
  <header>

    <nav class="navbar">
      <ul class="nav navbar-nav">
        <li><%= active_link_to "Home", 'home_path' %></li>
        <li><%= active_link_to "Events", '#' %></li>
        <li><%= active_link_to "About", about_path %></li>
        <li><%= active_link_to "Members", members_path %></li>
        <li><%= active_link_to "Join", '#' %></li>

      </ul>
    </nav>

    <%= link_to home_path, :class => "logo" do %>
      <div><strong>nu</strong>acm</div>
      <div>northeastern university</div>
    <% end %>
  </header>

  <% if current_member %>
    Logged in as <%= current_member.name %>
    <%= link_to "Log Out", logout_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign Up", signup_path %>
    <%= link_to "Sign In", login_path %>
  <% end %>

  <% if flash[:alert] %>
    <p class='alert'><%=h flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class='notice'><%=h flash[:notice] %></p>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
