<!DOCTYPE html>
<html>
<head>
  <title>Acm</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <header>
    <%= link_to home_path, :class => "logo" do %>
      <div><strong>nu</strong>acm</div>
      <div>northeastern university</div>
    <% end %>
  </header>

  <nav>
    <ul>
      <li><%= current_link_to "Home", home_path %></li>
      <li><%= current_link_to "About", about_path %></li>
      <li><%= current_link_to "Events", '#' %></li>
      <li><%= current_link_to "Members", members_path %></li>
    </ul>
  </nav>

  <% if current_member %>
    Logged in as <%= current_member.name %>
    <%= link_to "Log Out", logout_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign Up", signup_path %>
    <%= link_to "Sign In", login_path %>
  <% end %>

  <% if flash[:alert] %>
    <p class='alert'><%=h flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class='notice'><%=h flash[:notice] %></p>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
