<!DOCTYPE html>
<html>
<head>
  <title>Acm</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <header>
    <%= link_to home_path, :class => "acm-logo" do %>
      <h1><strong>nu</strong>acm</h1>
      <span>Northeastern University</span>
    <% end %>
  </header>

  <nav>
    <ul>
      <li><%= active_link_to "Home", home_path %></li>
      <li><%= active_link_to "About", '#' %></li>
    </ul>
  </nav>

  <% if flash[:alert] %>
    <p class='alert'><%=h flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class='notice'><%=h flash[:notice] %></p>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
