<div class="row">
  <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title"><%= @member.name %></h1>
      </div>
      <div class="panel-body">
        <ul class="member-details">
          <!-- <li><span class="glyphicon glyphicon-envelope"></span> <%= @member.email %></li> -->
          <li>Member Since: <%= @member.created_at %></li>
        </ul>
      </div>
    </div>

  </div>
</div>

<% if logged_in? :as_member => @member, :as_officer => true %>
  <%= link_to 'Edit', edit_member_path(@member) %>
  <%= link_to 'Delete', member_path(@member), :confirm => "Are you sure?", :method => :delete %>
<% end %>
