<div class="col-lg-12">
  <h1><%= @member.name %></h1>

  <ul>
    <li>Email: <%= @member.email %></li>
    <li>Member Since: <%= @member.created_at %></li>
  </ul>


  <% if logged_in? :as_member => @member, :as_officer => true %>
  <div class="well">
    <%= link_to 'Edit', edit_member_path(@member), :class => "btn btn-default" %>
    <%= link_to 'Delete', member_path(@member), :confirm => "Are you sure?", :method => :delete, :class => "btn btn-danger" %>
  </div>
  <% end %>
</div>
